*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Exo', sans-serif;
    font-family: 'PT Sans', sans-serif;
}